body {
  background-color: skyblue;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

header{

}
h1 {
  font-size: 48px;
  color: black;
}

p {
  font-family: monospace;
  color: '#ccc';
}
