body {
  background-color: #f2f3f4;
  font-family:Raleway;

}

.footer {
  background: black;
  opacity: 0.85;
  margin-top: 80px;
  position: relative;
}

.container-jumbotron {
  color: white;
}
.jumbotron-fluid {
  background-size: cover;
}
.jumbotron {
  margin-top: 0px;
}

.quotedisplay {
  font-size: 24.2px;
}

.lead {
  font-size: 17px;
}
